div#imagechooser {
	clear: left;
}

div.image, div.image-upload {
	padding: 5px;
	float: left;
	text-align: center;
}

div.image {
	
}

div.image-upload {
	opacity: 0.7;
}

div.image img {
	max-height: 100px;
	max-width: 200px;
}

div.image span.name {
	font-size: 80%;
}