all:
  details:
    name: NeatBlog
    contact: twitter:http://twitter.com/|github:http://github.com/
    about: |
      <p>Use HTML.</p>
    imprint: |
      <h2>Imprint</h2>
      <p>Use HTML oder leave blank to let it disappear.</p>
  view:
    theme: default
    language: en # available: en, de
    locale: de_DE.utf8 # a locale your system can deal with; delete if not sure
  homepage:
    post_count: 10
    micropost_count: 10
  other:
    social_integration: true
    tracking: |
      <!-- HTML Tracking code if you wish -->
  rss:
    autor: email@example.com (Your Name)
    description: |
      This is my personal blog.
  uploads:
    resize:
      # Define your settings for thumbnails here. Each resize setting must have a 
      # value for width, height and zoom. You can define mutiple settings.
      setting_1:
        width: 300
        height: 300
        zoom : 1.5
      setting_2:
        width: 500
        height: 500
        zoom: 3