all:
  details:
    name: NeatBlog
    about: |
      <small>Use inline-HTML.</small>
    imprint: |
      <h2>Imprint</h2>
      <p>Use HTML oder leave blank to let it disappear.</p>
  view:
    theme: modern
    language: en # available: en, de
    locale: de_DE.utf8 # a locale your system can deal with; delete if not sure
  homepage:
    post_count: 10
    micropost_count: 10
  other:
    akismet_api_key: none # get your free key from http://akismet.com/ to fight spam in comments
    tracking: |
      <!-- HTML Tracking code if you wish -->
  rss:
    autor: email@example.com (Your Name)
    description: |
      This is my personal blog.
  uploads:
    resize:
      # Define your settings for thumbnails here. Each resize setting must have a 
      # value for width, height and zoom. You can define mutiple settings.
      small:
        width: 260
        height: 180
        zoom : 1.5
      medium:
        width: 360
        height: 268
        zoom : 1.5